
table.form{
    border: solid 3px black;
    padding: 5px;
}
h2.heading{
    text-align: center;
    background: black;
    color: #778B87;
    padding: 10px;
    margin-bottom: 0;
}
table.content{
    border: solid 3px black;
    border-top: #fff;
    padding: 5px;
}
.content td{   
    border-bottom: solid 2px #778B87;
}
.options{
    text-align: right;
    padding: 8px;
}
td.review{
    border: none;
}
td.review-content{
    border: none;
}
.date{
    text-align: right;
    color: #778B87;
}
