body{
    background: #889592;
}

#btn{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #40A33D;
    color: white;
    border: 2px #40A33D;
    border-radius: 2px;
    box-shadow: none;
}

div#content{
    border: solid 3px #EFEFEF;
    border-radius: 2px;
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
    background: #EFEFEF;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    display: inline-block;
}

h2.heading{
    text-align: center;
    color: #778B87;
    padding: 10px;
    margin-top: 0;
    
}

.mark{
    border: solid 2px ;
    width: 100%;
}

div.information{
    padding-bottom: 40px;
}
.username{
    float: left;
    padding-right: 5px;
}
.usermail{
    float: left;
    color: #778B87;
}
.date{
    float: right;
    text-align: right;
    color: #778B87;  
}
div.information{
    padding-bottom: 40px;
}

div.review{
    margin: 5px;
    padding: 5px;
    background-color: #E1E1E1;
    border-radius: 2px;
}

.edit{
    box-sizing: border-box;
    margin: 8px 0;
    display: inline-block;
    margin-left: 80%;
    width: 15%;
    border: 2px;
    border-radius: 2px;
    box-shadow: none;
    background: #76C1F9;
    border-color: #76C1F9;
    
}
.delete{
    box-sizing: border-box;
    margin: 8px 0;
    display: inline-block;
    margin-left: 80%;
    width: 15%;
    border: 2px;
    border-radius: 2px;
    box-shadow: none;
    background: #B85A5C;
    border-color: #B85A5C;
    
}