
div.reviewForm{
    position: relative;
    margin-left: 500px;
    margin-right: 500px;
    border: solid 3px black;
    padding: 8px;
}
input#username{
    margin-left: 12px;
}
#btn{
    
}

h2.heading{
    text-align: center;
    background: black;
    color: #778B87;
    padding: 10px;
    margin-bottom: 0;
}
div.content{
    border: solid 3px black;
    border-top: #fff;
    padding: 5px;
}
.header-review{
    position: absolute;
}
.userInfo{
    padding-left: 60px;
}

/* .options{
    text-align: right;
    padding: 8px;
} */

/* .date{
    text-align: right;
    color: #778B87;
} */
